@page "{id:int}"
@model RentMyCycler.Website.Pages.CatalogBikes.CatalogBikes

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentMyCycler</title>
    <link rel="stylesheet" href="~/css/CatalogBikesCss.css" />
</head>

<header>
    <div class="navbar">
        <div class="myProfile">
            <a asp-page="/UserProfile/UserProfile" asp-route-id="@Model.UserDto.id">My Profile</a>
            |
            <a asp-page="/Home/Home">Go back</a>
        </div>
    </div>
</header>
<body>
<main>
    <section class="bikes">
        <h2>Bikes</h2>
        <div class="card-container-bike">
            @foreach (var bike in @Model.Bikes)
            {
                <a asp-page="/CatalogBikes/NewReservation" asp-route-id="@bike.id">
                    <div class="card-bike">
                        <div class="card-image-bike">
                            <img src="@bike.Image" alt="Bicycle Image">
                        </div>
                        <div class="card-content-bike">
                            <p>@bike.Description</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <br/>
        <a href="/CatalogBikes/CatalogBikes" class="view-all-link">View All</a>
    </section>
</main>
</body>
</html>